apk/0.1.0.apk filter=lfs diff=lfs merge=lfs -text
assets/models/whisper-base-yue-mdcc.bin filter=lfs diff=lfs merge=lfs -text
assets/models/whisper-small-yue-hk.bin filter=lfs diff=lfs merge=lfs -text
assets/models/whisper-small-yue-mdcc.bin filter=lfs diff=lfs merge=lfs -text
assets/models/whisper-base-yue-hk.bin filter=lfs diff=lfs merge=lfs -text
